body {
  font-family: Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  width: 100%;
  height: 100%;
}

$red: #d3135a;
$dark: #340516;
$light-red: #ffc2dd;
$grey: #DEDBD2;
$font-color: #000000;

.header {
  background-color: $red;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  flex-wrap: wrap;
}

.title {
  color: $light-red;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding: 30px 0 20px 0;
}

.header-options {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  justify-content: flex-end;
  height: 45%;
  padding: 10px 0 0 0;
  & .menu-link-1 {
    color: $dark;
    padding: 0 5px;
    font-size: 14px;
    text-decoration: none;
  }
  & .menu-link-2 {
    font-size: 16px;
    width: 110px;
  }
}

.link-url {
  text-decoration: none;
  color: $light-red;
  display: flex;
  justify-content: center;
  padding: 0 6px;
  &:hover {
    color: $dark;
  }
}

.additional-menu {
  background: #4d4d4d;
  border-top: 6px solid #4d4d4d;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  margin: 0;
  top: 95px;
  z-index: 99999;
  font-size: 14px;
}

.additional-menu:after {
  content: "";
  position: absolute;
  left: 36%;
  top: -22px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 17px 17px;
  border-color: transparent transparent #4d4d4d transparent;
  z-index: 9998;
}



.additional-menu-option {
  padding: 12px 10px;
  & a {
    text-decoration: none;
    color: white;
  }
}

.additional-menu-option:hover {
  background-color: #666666;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $grey;
  heigh: 100%;
  padding: 30px;
}

.main-content{
  display: flex;
  justify-content: center;
  flex-direction: row;

}

.main-info{
  background-color: $grey;
  font-size: 14px;
  color: $font-color;
  flex-wrap: wrap;
}

.article{
  background-color: white;
  padding: 10px;
}

.main-article{
  margin-bottom: 20px;
}

.other-articles{
  display: flex;
  flex-direction: row;
  & .article-1 {
    margin-right: 20px;

  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  & li > a {
    color: #3f94cd;
    text-decoration: none;
  }
}

.form{
  background-color: $grey;
  margin-left: 20px;
}

.form-name{
  margin: 0;
  border-bottom: 2px solid black;
}

.form-box{
  border: 1px solid grey;
  padding: 20px;
}

.submit-button{
  background-color: $red;
  padding: 10px;
  width: 100px;
  color: white;
}

@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  & .title {
    width: 100%;
    justify-content: center;
  }
  & .header-options {
    width: 100%;
    height: 100px;
  }

  .header-options {
    & .links-2 {
      justify-content: center;
    }
  }

  .menu-link-2 {
    width: 100% !important;
  }
  .additional-menu {
    width: 100%;
    top: 195px;
    left: 0;
  }
  & .additional-menu-option {
    display: flex;
    flex-position: column;
    justify-content: center;
  }

  .additional-menu:after {
    border-width: 0;
  }

  .main-content{
    flex-direction: column;
  }

  .other-articles{
    flex-direction: column;
    & .article-1 {
      margin: 0 0 20px 0;

    }
  }

}
